{% extends 'base.html' %}
{% load static %}
{% block title%} Blogs {% endblock %}
{% block body %}

<div class="container ">
    <br>
    <br>

    <div class="text-center">
        <h1>
            ALL LATEST BLOGS
        </h1>
    </div>
    <br>
    <br>

    

    <div class="row mx-auto">
      {% for blog in blogs %}
        <div class="col-4">
            <div class="card">
                <img src="{{blog.author.display_pic.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{blog.title}}</h5>
                  <small class="blockquote-footer"> <i>{{blog.author}}</i></small>
                  
                  <br>
                  <br>
                <a type="button" href="{% url 'blog_details' blog.id %}" class="btn btn-info btn-sm">Read more</a>
                </div>
             </div>
         </div> 
         {% endfor %}
      </div>      
          
      <nav aria-label="...">
        <ul class="pagination p-3 justify-content-center">
          {% if blogs.has_previous %}
          <li class="page-item ">
            <li class="page-item"><a class="page-link" href="/blog/blog/?page=1">First</a></li>
          </li>
          <li class="page-item"><a class="page-link" href="/blog/blog/?page={{blog.prevous_page_number}}">Previous</a></li>
          {% endif %}
          {% for i in blogs.paginator.page_range %}
          <li class="page-item {% if blogs.number == i %}active{% endif %}">
            <a class="page-link" href="/blog/blog/?page={{ i }}">{{ i }}</a>
          </li>
        {% endfor %}
          {% if blogs.has_next %}
          <li class="page-item">
            <a class="page-link" href="/blog/blog/?page={{blog.next_page_number}}">Next</a>
          </li>
          {% endif %}
        </ul>
      </nav>
   
</div>

{% endblock %}
   